body{
    margin: 0;
    padding: 0;
    background: url(pic.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 500px;
    background: #e9ecef;
    margin-top: 150px;
    border-radius: 10px;
    color: #333333;
    top: 35%;
    left: 80%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;

}
.loginbox2{
    width: 320px;
    height: 560px;
    background: #e9ecef;
    margin-top: 150px;
    border-radius: 10px;
    color: #333333;
    top: 35%;
    left: 80%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 30px;

}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
h4{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox p{

    padding: 0;

}

.loginbox input{
    width: 100%;
    margin-bottom: 10px;
}
.loginbox2 input{
    width: 100%;
    margin-bottom: 10px;
}

.loginbox input[type="text"], input[type="password"], input[type="email"],input[type="number"]
{
    border: none;
    border: 0.5px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 20px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #b3d9ff;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

}
.loginbox2 input[type="text"], input[type="password"], input[type="email"],input[type="number"]
{
    border: none;
    border: 0.5px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 20px;
}

.loginbox2 input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #b3d9ff;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #4da6ff;
    color: #0059b3;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #4da6ff;
}
.jumbotron{
    opacity: 80%;
    margin-top: 25%;
}
.button{
    border-radius: 10px;
}