html,
body {
  background-color: white;

  height: 100%;
  width: 100%;

  
  
}




body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  
}

.font{
  
  font-family: Orbitron;
  font-weight: bold;

}

.button1 {
  background-color: white;
  color: black;
  border: 1px solid black; /* Green */
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 10px;
  
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {

  position: relative;
  box-sizing: border-box;
  height: 50px;
  padding: 10px;
  margin: 5px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.baux{

  width: 375px;
  height: 520px;
  border-style: solid;
  border-width: 1px;
  color:black;
  border-color: black;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  padding: 20px 30px;

  border-radius: 25px;




}
